# Naive Bayes

In [1]:
import pandas as pd
import numpy as np

In [327]:
data = pd.read_csv("golf.csv")

In [328]:
data

     outlook  temp humidity   windy playgolf
0      rainy   hot     high  false1       no
1      rainy   hot     high   true1       no
2   overcast   hot     high  false1      yes
3      sunny  mild     high  false1      yes
4      sunny  cool   normal  false1      yes
5      sunny  cool   normal   true1       no
6   overcast  cool   normal   true1      yes
7      rainy  mild     high  false1       no
8      rainy  cool   normal  false1      yes
9      sunny  mild   normal  false1      yes
10     rainy  mild   normal   true1      yes
11  overcast  mild     high   true1      yes
12  overcast   hot   normal  false1      yes
13     sunny  mild     high   true1       no

In [329]:
type(data)

pandas.core.frame.DataFrame

In [330]:
data['outlook']

0        rainy
1        rainy
2     overcast
3        sunny
4        sunny
5        sunny
6     overcast
7        rainy
8        rainy
9        sunny
10       rainy
11    overcast
12    overcast
13       sunny
Name: outlook, dtype: object

In [331]:
type(data['outlook'])

pandas.core.series.Series

In [332]:
data.columns.values

array(['outlook', 'temp', 'humidity', 'windy', 'playgolf'], dtype=object)

In [333]:
type(data.columns.values)

numpy.ndarray

In [334]:
data['outlook'].unique()

array(['rainy', 'overcast', 'sunny'], dtype=object)

In [335]:
type(data['outlook'])

pandas.core.series.Series

In [336]:
(data['outlook']=='rainy').size

14

In [337]:
X = data.loc[:,'outlook':'windy']

In [338]:
X

     outlook  temp humidity   windy
0      rainy   hot     high  false1
1      rainy   hot     high   true1
2   overcast   hot     high  false1
3      sunny  mild     high  false1
4      sunny  cool   normal  false1
5      sunny  cool   normal   true1
6   overcast  cool   normal   true1
7      rainy  mild     high  false1
8      rainy  cool   normal  false1
9      sunny  mild   normal  false1
10     rainy  mild   normal   true1
11  overcast  mild     high   true1
12  overcast   hot   normal  false1
13     sunny  mild     high   true1

In [339]:
temp1 = data[['outlook','playgolf']]

In [340]:
temp = temp1[data.outlook=='rainy']

In [341]:
temp[temp.playgolf == 'no']

  outlook playgolf
0   rainy       no
1   rainy       no
7   rainy       no

In [395]:
import pandas as pd
import numpy as np
class NaiveBayes:
    def __init__(self,data):
        self.data = data
        self.len = self.data.shape[0]
        self.features_name = self.data.columns.values[:-1] #get the feature column name
        self.label_name = self.data.columns[-1] #get the label name
        self.p_label = {} # probability of each label ex: {'yes':0.2,'no':0.8}
        self.labels = [] #store labels name like yes or no
        self.p_features = {} #probability of each feature when label already ocurred {'yes':{'rainy':0.2,'true':0.6},'no':{'rainy':0.2,'true':0.6}}
        self.label_count={} #count the no of label yes or no {yes:30,no:10}
        #enter the data into p_label, label_count,labels
        for i in self.data[self.label_name].unique(): 
            self.label_count[i] = self.data[self.data[self.label_name]== i ].shape[0]
            self.p_label[i] = self.label_count[i]/self.len
            self.p_features[i] = {}
            self.labels.append(i)
            
        
        #each probability of each feature    {'yes':{'rainy':0.2,'true':0.6},'no':{'rainy':0.2,'true':0.6}}
        for feature in self.features_name:
            u_temp = self.data[feature].unique()
            for v in u_temp:
                temp1 = self.data[[feature,self.label_name]]
                temp2 = temp1[self.data[feature]==v]
                for label in self.labels:
                    self.p_features[label][v] = temp2[temp2[self.label_name] == label].shape[0]/self.label_count[label]
          
        
    #classify test data
    def classify(self,test_data):
        output = {}
        for label in self.labels:
            product = 1
            for feature in self.features_name:
                product *= self.p_features[label][test_data[feature][0]]
            product*=self.p_label[label]
            output[label] = product
        
        sum = 0
            
        for label in self.labels:
            sum+=output[label]
            
        for label in self.labels:
            output[label] = output[label]/sum
            
        return output
        
            
n = NaiveBayes(data)
test_data = pd.DataFrame([['rainy','cool','high','true1']],columns = ['outlook','temp','humidity','windy'])
output= n.classify(test_data)
print(output)

In [396]:
n = NaiveBayes(data)

In [397]:
n.p_features_0

AttributeError: 'NaiveBayes' object has no attribute 'p_features_0'

In [ ]:
n.p_features_1

In [398]:
n.p_features

{'no': {'rainy': 0.6,
  'overcast': 0.0,
  'sunny': 0.4,
  'hot': 0.4,
  'mild': 0.4,
  'cool': 0.2,
  'high': 0.8,
  'normal': 0.2,
  'false1': 0.4,
  'true1': 0.6},
 'yes': {'rainy': 0.2222222222222222,
  'overcast': 0.4444444444444444,
  'sunny': 0.3333333333333333,
  'hot': 0.2222222222222222,
  'mild': 0.4444444444444444,
  'cool': 0.3333333333333333,
  'high': 0.3333333333333333,
  'normal': 0.6666666666666666,
  'false1': 0.6666666666666666,
  'true1': 0.3333333333333333}}

In [385]:
test_data = pd.DataFrame([['rainy','cool','high','true1']],columns = ['outlook','temp','humidity','windy'])

In [386]:
test_data

  outlook  temp humidity  windy
0   rainy  cool     high  true1

In [399]:
output= n.classify(test_data)

In [400]:
output

{'no': 0.795417348608838, 'yes': 0.20458265139116202}

In [389]:
n.p_features['no'][test_data['outlook'][0]]

0.6

In [390]:
n.p_features['no']['true']

KeyError: 'true'

In [391]:
a

{'no': 0.795417348608838, 'yes': 0.20458265139116202}